@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-geist-sans);
}

body {
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}

.group:hover .group-hover\:opacity-100 {
  opacity: 1;
}
